.pane {
    position: relative;
    float: left;
    height: 100vh;
}

.wrap {
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
}

.left-pane {
    width: 25%;
    background-color: #E9D9C0;
    text-align: center;
}

.center-pane {
    width: 35%;
    padding: 5vw 0;
}

.right-pane {
    width: 40%;
}


.right-pane .wrap {
    height: 86%;
    top: 8%;
}

.intro {
    position: absolute;
    top: 50%;
    width: 60%;
    font-size: 12px;
    margin-top: -100px;
}

.intro h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: #ecd9bd;
}

.slider {
    position: relative;
    width: 100%;
}

.slider .slide {
    background-size: 130% auto;
}

@media only screen and (max-width: 1360px) {
}


@media only screen and (max-width: 991px) {
    .left-pane {
        display: none;
    }
    .center-pane {
        width: 60%;
    }
    .right-pane {
        width: 40%;
    }
}

@media only screen and (max-width: 767px) {
    .left-pane {
        display: none;
    }
    .center-pane {
        width: 50%;
    }
    .right-pane {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .center-pane {
        width: 100%;
    }
    .right-pane {
        width: 100%;
    }

    .pane {
        height: auto;
        padding: 0;
    }

    .intro {
        width: 100%;
        margin-top: 0;
    }

}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 440px) {

}

@media only screen and (max-width: 320px) {
}