.product .photo, .product .details {
    float: left;
}

.product .details {
    margin-left: 20px;
}

.qty-panel a, .qty-panel span {
    float: left;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #ecd9bd;
    color: #000;
    font-size: 12px;
}

.qty-panel a {
    width: 30px;
}

.qty-panel span {
    width: 30px;
}

.total {
    padding: 16px 30px;
    color: #000;
    background-color: #ecd9bd;
    float: left;
    display: block;
    width: 100%;
}

.total .left {
    float: left;
    width: 60%;
}
.total .right {
    float: left;
    width: 40%;
}

.checkout {
    padding: 16px 30px;
    color: #000;
    background-color: #d0b99c;
    float: left;
    display: block;
    width: 100%;
}

.first-col {
    width: 50%;
}

.second-col {
    width: 30%;
}

.third-col {
    width: 20%;
}

hr {
    border-top: 1px solid #d0b99c !important;
}

@media only screen and (max-width: 767px) {
    .qty-panel a, .qty-panel span {
        width: 100%;
    }

    .w-arrow-right {
        float: right !important;
    }
}

@media only screen and (max-width: 575px) {

    .w-arrow-right {
        float: left !important;
        margin-bottom: 20px;
    }

    .first-col {
        width: 40%;
    }

    .second-col {
        width: 40%;
    }

    .third-col {
        width: 10%;
    }
}

@media only screen and (max-width: 520px) {
    .product .photo, .product .details {
        width: 100%;
        margin-left: 0;
    }

    .product .details .name {
        margin-top: 12px !important;
    }
}