#top {
    position: absolute;
    top: 30px;
    width: 90%;
    left: 5%;
    z-index: 1;
}

#top .left {
    position: absolute;
    top: 0;
    width: 50%;
    left: 0;
    z-index: 1;
}

#top .right {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    z-index: 1;
}

#bottom {
    position: absolute;
    bottom: 30px;
    width: 90%;
    left: 5%;
    z-index: 1;
}

#bottom .left {
    position: absolute;
    top: 0;
    width: 50%;
    left: 0;
    z-index: 1;
}

#bottom .right {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    z-index: 1;
}

.main-nav {
    margin-top: 10px;
}

.pane {
    position: relative;
    float: left;
    height: 100vh;
}

.wrap {
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
}

.left-pane {
    width: 60%;
    background-color: #fff;
    text-align: center;
}

.left-pane .wrap {
    width: 80%;
    left: 10%;
    height: 86%;
    top: 8%;
    text-align: left;
}

.right-pane {
    width: 40%;
    background-color: #E9D9C0;
}

.right-pane .wrap {
    height: 86%;
    top: 8%;
}


.relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.form {
    top: 20%;
    position: absolute;
    width: 100%;
}

.intro {
    top: 20%;
    position: relative;
}

.socials {
    position: absolute;
    bottom: 0;
    left: 0;
}

.socials li {
    float: left;
    margin-right: 10px;
}

.lang {
    position: absolute;
    bottom: 0;
    right: 0;
}

.lang li {
    list-style: none;
    float: right;
}

.lang li a {
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}


@media only screen and (max-width: 600px) {

    .right-pane {
        width: 100%;
        position: initial;
    }

    .left-pane {
        width: 100%;
        position: initial;
    }

    .wrap {
        position: initial !important;
        width: 100% !important;
        height: auto !important;
    }

    .intro {
        top: 0;
    }

    .pane {
        height: auto;
        position: initial !important;
        margin-top: 30px;
    }

    .wrap, .form, .intro {
        position: initial !important;
    }

    #top {
        position: initial;
        top: 30px;
        width: 100%;
        left: 0;
        z-index: 1;
        display: block;
        float: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #top .left {
        position: initial;
        float: left;
    }

    #top .right {
        position: initial;
        float: right;
    }

    #bottom {
        position: initial;
        bottom: 30px;
        width: 100%;
        left: 0;
        z-index: 1;
        display: block;
        float: left;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    #bottom .left {
        position: initial;
        float: left;
    }

    #bottom .right {
        position: initial;
        float: right;
    }

    #middle {
        position: initial;
        float: left;
    }

    .socials, .lang {
        position: initial;
    }

    #top, #bottom, .form, .intro {
        padding: 0 30px;
    }

    .intro {
        padding: 30px;
    }

    #top .left {
        width: 40%;
    }

    #top .right {
        width: 60%;
    }
}

@media only screen and (max-width: 440px) {

    #mainlogo {
        width: 90px;
    }
}