

#top .left {
    width: 50%;
    left: 0;
    z-index: 1;
}

#top .right {
    right: 0;
    z-index: 1;
}

#top-wrap {
    position: relative;
}

#top-wrap .overlays {
    height: 100%;
    width: 30%;
    background-color: #ecd9bd;
    position: absolute;
    z-index: 2;
}

#bottom {
    z-index: 3;
    padding-bottom: 30px;
    position: relative;
    top: -20px;
}

#bottom .left {
    position: absolute;
    top: 0;
    width: 50%;
    left: 0;
    z-index: 1;
}

#bottom .right {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    z-index: 1;
}

.pane {
    position: relative;
    float: left;
    height: 600px;
}

.wrap {
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
}

.left-pane {
    width: 23%;
    text-align: center;
}

.center-pane {
    width: 40%;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 130% auto;
}

.right-pane {
    width: 35%;
}


.right-pane .wrap {
    height: 46%;
    top: 18%;
    width: 85%;
}

.left-pane .wrap {
    width: 50%;
    left: 25%;
    height: 86%;
    top: 8%;
}

.relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.socials {
    position: absolute;
    bottom: 0;
    left: 0;
}

.socials li {
    float: left;
    margin-right: 10px;
}

.intro {
    position: absolute;
    bottom: 5%;
    width: 100%;
    font-size: 14px;
}

.intro h1 {
    font-size: 26px;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    letter-spacing: 3px;
}

.lang {
    position: absolute;
    bottom: 0;
    right: 0;
}

.lang li {
    list-style: none;
    float: right;
}

.lang li a {
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider .slide {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s linear;
}

.slider .slide.active {
    opacity: 1;
}

.slider .pagi {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 20%;
}

.slider .pagi li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
}

.slider .pagi li.active {
    background-color: #000;
}

@media only screen and (min-width: 1520px) {
    #top-wrap .overlays {
        width: 35%;
    }
}

@media only screen and (max-width: 1366px) {
    .slider .pagi {
        left: 30%;
    }
}

@media only screen and (max-width: 1200px) {
    .left-pane {
        width: 25%;
    }
    .pane {
        height: 500px;
    }
}

@media only screen and (max-width: 1520px) {
    .left-pane {
        width: 25%;
    }
}


@media only screen and (max-width: 991px) {
    #top-wrap .overlays {
        display: none;
    }
    .left-pane {
        width: 0;
    }

    .center-pane {
        width: 60%;
        padding-left: 15px;
    }

    .right-pane {
        width: 40%;
    }

    #middle {
        margin-top: 30px;
    }

    #bottom {
        top: 0;
    }
    .slider .pagi {
        right: 0;
        left: auto;
        bottom: -15px;
    }

    #mainlogo {
        width: 140px;
    }

    .right-pane .wrap {
        top: 38%;
    }
}
@media only screen and (max-width: 600px) {
    .center-pane {
        width: 100%;
        padding-right: 15px;
    }
    .pane {
        height: auto;
    }
    .slider .slide {
        position: relative;
        height: auto;
        width: auto;
        display: none;
    }
    .slider .slide.active {
        display: block;
    }

    .right-pane .wrap {
        width: 100%;
        text-align: center;
    }

    .right-pane {
        position: initial;
        float: left;
        width: 100%;
        padding: 30px 0;
    }

    .right-pane .intro {
        position: initial;
        float: left;
        width: 100%;
    }

    .right-pane .wrap {
        position: initial;
    }

    .slider .pagi {
        position: initial;
        width: 100%;
        margin: 15px 0;
    }

    #bottom {
        display: none;
    }

    #mainlogo {
        width: 100px;
    }
}

@media only screen and (max-width: 500px) {

    /*.slider {*/
    /*height: 300px;*/
    /*}*/

    footer ul {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 440px) {

    /*.slider {*/
    /*height: 250px;*/
    /*}*/
}

@media only screen and (max-width: 320px) {
    /*.slider {*/
    /*height: 200px;*/
    /*}*/
}
