#top {
    position: absolute;
    top: 30px;
    width: 90%;
    left: 5%;
    z-index: 1;
}

#top .left {
    position: absolute;
    top: 0;
    width: 50%;
    left: 0;
    z-index: 1;
}

#top .right {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    z-index: 1;
}

#bottom {
    position: absolute;
    bottom: 30px;
    width: 90%;
    left: 5%;
    z-index: 1;
}

#bottom .left {
    position: absolute;
    top: 0;
    width: 50%;
    left: 0;
    z-index: 1;
}

#bottom .right {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    z-index: 1;
}

.pane {
     position: relative;
     float: left;
     height: 100vh;
 }

.wrap {
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
}

.left-pane {
    width: 25%;
    background-color: #E9D9C0;
    text-align: center;
}

.center-pane {
    width: 50%;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 130% auto;
}

.right-pane {
    width: 25%;
}


.right-pane .wrap {
    height: 86%;
    top: 8%;
}

.left-pane .wrap {
    width: 50%;
    left: 25%;
    height: 86%;
    top: 8%;
}

.relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.socials {
    position: absolute;
    bottom: 0;
    left: 0;
}

.socials li {
    float: left;
    margin-right: 10px;
}

.intro {
    position: absolute;
    bottom: 5%;
    width: 100%;
    font-size: 12px;
}

.intro h1 {
    font-size: 18px;
    text-transform: uppercase;
    color: #ecd9bd;
}

.lang {
    position: absolute;
    bottom: 0;
    right: 0;
}

.lang li {
    list-style: none;
    float: right;
}

.lang li a {
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.slider {
    width: 50%;
    height: 100%;
}

.slider .slide {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s linear;
}

.slider .slide.active {
    opacity: 1;
}

.slider .pagi {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 30px;
    left: 30px;
}

.slider .pagi li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
}

.slider .pagi li.active {
    background-color: #000;
}


@media only screen and (max-width: 1360px) {
    .slider .slide {
        background-size: auto 100%;
    }
}


@media only screen and (max-width: 991px) {

    .slider .slide {
        background-size: auto 100% !important;
        background-position: center !important;
    }

    .left-pane {
        width: 0;
    }

    .center-pane {
        width: 70%;
    }

    .right-pane {
        width: 30%;
    }

    .main-nav {
        margin-top: 12px;
    }

    #top {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 1;
        height: 70px;
        background-color: #E9D9C0;
        padding: 15px 30px;
    }

    #bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 50px;
        background-color: #E9D9C0;
        padding: 15px 30px;
        z-index: 1;
    }

    .socials, .lang {
        bottom: auto;
        top: 0;
    }

    #mainlogo {
        width: 90px;
    }

    .slider .pagi {
        bottom: 90px;
    }

    .intro {
        bottom: 25%;
    }

    .slider .slide {
        background-size: 100% auto;
    }
}

@media only screen and (max-width: 600px) {

    .right-pane {
        width: 100%;
        position: initial;
    }

    .left-pane {
        width: 100%;
        position: initial;
    }

    .wrap {
        position: initial !important;
        width: 100% !important;
        height: auto !important;
    }

    .intro {
        top: 0;
    }

    .center-pane, .right-pane {
        width: 100%;
    }

    .pane {
        height: auto;
        position: initial !important;
    }

    .slider {
        height: 60vh;
        width: 100%;
        position: relative;
    }

    .slider .slide {
        background-size: auto 100% !important;
    }

    .wrap, .form, .intro {
        position: initial !important;
    }

    #top {
        position: initial;
        width: 100%;
        left: 0;
        z-index: 1;
        display: block;
        float: left;
        padding: 15px 0;
    }

    #top .left {
        position: initial;
        float: left;
    }

    #top .right {
        position: initial;
        float: right;
    }

    #bottom {
        position: initial;
        bottom: 30px;
        width: 100%;
        left: 0;
        z-index: 1;
        display: block;
        float: left;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    #bottom .left {
        position: initial;
        float: left;
    }

    #bottom .right {
        position: initial;
        float: right;
    }

    #middle {
        position: initial;
        float: left;
    }

    .socials, .lang {
        position: initial;
    }

    #top, #bottom, .form, .intro {
        padding-left: 30px;
        padding-right: 30px;
    }

    .intro {
        padding: 30px;
    }

    #top .left {
        width: 40%;
    }

    #top .right {
        width: 60%;
    }

    .slider .pagi {
        bottom: 20px;
    }
}

@media only screen and (max-width: 500px) {

    /*.slider {*/
        /*height: 300px;*/
    /*}*/
}

@media only screen and (max-width: 440px) {

    #mainlogo {
        width: 90px;
    }

    /*.slider {*/
        /*height: 250px;*/
    /*}*/
}

@media only screen and (max-width: 320px) {
    /*.slider {*/
        /*height: 200px;*/
    /*}*/
}