body {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
}

a {
    font-family: 'Roboto';
    font-size: 14px;
    color: #000;
}

a:hover {
    color: initial;
    text-decoration: none;
}

h1,h2,h3,h4,h5 {
    letter-spacing: 3px;
    font-family: 'Montserrat';
    font-weight: bold;
}

h1,h2 {
    letter-spacing: 5px;
}

#top {
    z-index: 3;
    padding-top: 15px;
    position: relative;
}

.main-nav {
    margin-top: 20px;
}

.w-arrow-right {
    background-image: url("../img/breadcrumb-arrows.png");
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    padding-right: 20px;
}

.tc {
    text-transform: uppercase;
}

.txt-dgold {
    color: #ae9f8e;
}

.txt-dgold.active {
    color: #000;
}

.txt-gold {
    color: #d0b99c;
}

.txt-gold.active {
    color: #000;
}

.page-title {
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
}

.page-title-sub {
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
}

.main-font-color {
    color: #998a77;
}

.main-nav {
    list-style: none;
    padding: 0;
    float: right;
}

.main-nav li {
    float: left;
    margin-right: 10px;
}

.main-nav li a {
    display: block;
    height: 22px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    margin-left: 10px;
    z-index: 1;
    position: relative;
}

.main-nav li a.cart {
    background-image: url(../img/Bag.png);
}

.main-nav li a.search {
    background-image: url(../img/Search.png);
}

.main-nav li a.wishlist {
    background-image: url(../img/Whishlist.png);
}

.main-nav li a.account {
    background-image: url(../img/Profile.png);
}

.main-nav li a.burger {
    background-image: url(../img/menu-icon.png);
    width: 25px;
    background-size: auto 100%;
}

.main-nav li a span {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ecd9bd;
    display: none;
    text-align: center;
    line-height: 20px;
    bottom: -10px;
    right: -10px;
    position: absolute;
}

.main-nav li a span.active {
    display: block;
}

.main-nav li:last-of-type {
    margin-right: 0;
}

.main-nav li ul {
    float: left;
    display: block;
}

.main-nav .sub-menu {
    list-style: none;
    position: absolute;
    width: 380px;
    right: 15px;
    background-color: #E9D9C0;
    top: 70px;
    padding: 20px 30px;
    display: none;
    z-index: 5;
    height: auto;
}

.main-nav .sub-menu.active {
    display: block;
}

.main-nav .sub-menu li {
}

.main-nav .sub-menu li, .main-nav .sub-menu li a {
    float: left;
    width: 100%;
    margin: 3px 0;
}

.main-nav .sub-menu li.heading {
    margin-top: 0;
    font-weight: bold;
}

.main-nav .sub-menu li a {
    margin: 0;
    font-size: 12px;
    color: #000;
    margin-top: 5px;
}

#main-nav a {
    width: 100%;
    height: auto;
    margin-left: 0;
}

#main-nav ul {
    padding-left: 14px;
    list-style: none;
    background-image: url(../img/sub-menu-arrow.png);
    background-position: 0 5px;
    background-repeat: no-repeat;
}

#main-nav ul.none {
    padding: 0;
    background: none;
}

#message-bubble {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #ecd9bd;
    text-align: center;
    padding: 5px;
    display: none;
    text-transform: uppercase;
}

#message-bubble a {
    font-weight: bold;
}

.float-menu {
    position: absolute;
    right: 0;
    width: 220px;
    font-size: 10px;
    padding: 0 20px;
    background-image: url(../img/arrow-brown.png);
    background-position: left 3px;
    background-repeat: no-repeat;
}

.float-menu ul {
    float: left;
    width: 50%;
    list-style: none;
    padding: 0;
}

.float-menu ul li {
    margin: 1px 0 !important;
}


.float-menu ul li.heading {
    font-weight: bold;
    padding-bottom: 3px;
    color: #998A77;
}

.float-menu ul li a {
    font-size: 10px !important;
    font-weight: normal;
    padding-bottom: 0;
    color: #998A77 !important;
}

#searchbox {
    position: absolute;
    background-color: #e9d9c0;
    padding: 12px 20px 18px;
    right: 0;
    top: 68px;
    font-size: 12px;
    display: none;
}

#searchbox.active {
    display: block;
}

#searchbox input[type=text] {
    border: 0;
    height: 24px;
    width: 200px;
    padding: 5px 8px;
    font-size: 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 24px;
    margin-bottom: 0;
}

.lang {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.lang li {
    list-style: none;
    float: right;
}

.lang li a {
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    line-height: 21px;
    font-size: 18px;
}

.socials {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.socials li {
    float: left;
    margin-right: 10px;
}

.socials a {
    display: block;
    width: 30px;
    height: 30px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border-radius: 50%;
    color: rgb(236 217 189);
    text-align: center;
    line-height: 32px;
    font-size: 18px;
}

.overlay {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    top: 0;
}

.overlay .panel {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 40vw;
    background-color: #fff;
    z-index: 12;
    padding: 10vh 5vw;
}

.overlay .wrap {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 60vw;
    z-index: 12;
}

.overlay .close-panel {
    font-size: 12px;
    color: #656565;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #656565;
    border-radius: 50%;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: right;
}
input[type=text] {
    border: 1px solid #998a77;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #998a77;
    font-size: 10px;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    padding: 0 60px;
    color: #000;
    background-color: #ecd9bd;
    display: block;
    text-align: center;
    border: 0;
    text-transform: uppercase;
    float: right;
    font-weight: 900;
    height: 40px;
}

textarea {
    border: 1px solid #998a77;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #998a77;
    font-size: 10px;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 100px;
}

.panel input[type=text],.panel input[type=password] {
    border: 1px solid #998a77;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #998a77;
    font-size: 10px;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
    width: 100%;
}



.panel h2 {
    font-size: 18px;
}

.panel h3 {
    font-size: 12px;
}

.button {
    display: block;
    background-color: #ecd9bd;
    color: #000;
    text-align: center;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 900;
}

.overlay {
    display: none;
}

.overlay.active {
    display: block;
}

#header {
    position: relative;
    margin-bottom: 50px;
}

#breadcrumbs a {
    display: block;
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

#breadcrumbs .divider {
    display: block;
    width: 7px;
    float: left;
    height: 15px;
    background-image: url("../img/breadcrumb-arrows.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 12px;
}

.arrow-right {
    display: block;
    width: 7px;
    float: left;
    height: 15px;
    background-image: url("../img/breadcrumb-arrows.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 12px;
}

#content {
    min-height: 60vh;
}

.link-bt {
    padding: 12px 30px;
    color: #000;
    background-color: #ecd9bd;
    float: left;
    display: block;
    width: 100%;
    text-align: center;
}

.custom-select {
    position: relative;
    padding: 0;
    border: 0;
    height: 30px;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: transparent;
    border:0;
    height: 30px;
    background-image: url("../img/filter-arrow.png");
    background-position: 99% center;
    background-repeat: no-repeat;
}

/* Style the arrow inside the select element: */
/*.select-selected:after {*/
    /*position: absolute;*/
    /*content: "";*/
    /*top: 14px;*/
    /*right: 10px;*/
    /*width: 0;*/
    /*height: 0;*/
/*}*/

/*!* Point the arrow upwards when the select box is open (active): *!*/
/*.select-selected.select-arrow-active:after {*/
    /*border-color: transparent transparent #fff transparent;*/
    /*top: 7px;*/
/*}*/

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #000;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background-color: #fff;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #fff;
    top: 29px;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #ecd9bd;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #e9d9c0;
}

.sub-links {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.sub-links li {
    margin-left: 30px;
    float: left;
}

.sub-links li a {
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}

.form-error {
    color: #da6565;
    text-align: left;
}

footer {
    padding: 100px 0;
    background-color: #f6f6f6;
    margin-top: 60px;
}

footer ul {
    display: block;
    width: 20%;
    padding: 0;
    list-style: none;
    float: left;
}

#footer ul .head {
    font-weight: 900;
    margin-bottom: 20px;
    display: inline-block;
}

#footer ul li a {
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 400;
}

.pagination li a, .pagination li span {
    border: 0 !important;
}

.pagination .page-link {
    color: #ae9f8e;
}

.page-item.active .page-link {
    color: #000;
    background-color: transparent;
}
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
}

/*!* Style the arrow inside the select element: *!*/
/*.select-selected:after {*/
    /*position: absolute;*/
    /*content: "";*/
    /*top: 14px;*/
    /*right: 10px;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border: 6px solid transparent;*/
    /*border-color: #fff transparent transparent transparent;*/
/*}*/

/*!* Point the arrow upwards when the select box is open (active): *!*/
/*.select-selected.select-arrow-active:after {*/
    /*border-color: transparent transparent #fff transparent;*/
    /*top: 7px;*/
/*}*/

/*!* style the items (options), including the selected item: *!*/
/*.select-items div,.select-selected {*/
    /*color: #ffffff;*/
    /*padding: 8px 16px;*/
    /*border: 1px solid transparent;*/
    /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
    /*cursor: pointer;*/
/*}*/

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#filterForm {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

@media only screen and (max-width: 991px) {
    .overlay .panel {
        width: 70vw;
    }

    .main-nav {
        float: left;
    }

    .burgerli {
        position: absolute;
        right: 15px;
    }
    #mainlogo {
        width: 120px;
    }
}

@media only screen and (max-width: 767px) {
    footer ul {
        width: 50%;
    }
}

@media only screen and (max-width: 620px) {
    .overlay .panel {
        width: 100vw;
    }
}

@media only screen and (max-width: 576px) {
    #top .logo {
        text-align: center;
    }

    .main-nav .sub-menu {
        width: 100%;
    }

    .main-nav .sub-menu {
    width: 100vw;
    right: -20px;
    top: 40px;
    }

    footer ul {
        width: 100%;
        text-align: center;
    }
}
