.product .brand {
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    display: block;
}

.product .name {
    color: #e9d9c0;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    float: left;
    width: 100%;
    display: block;
}

.product .price {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
}

.product .price {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
}

.product .vat {
    color: #000;
    font-size: 12px;
    text-transform: none;
}

.details {
    display: block;
    width: 100%;
    float: left;
}

.details p {
    text-transform: none;
}

@media only screen and (max-width: 767px) {
    .brand {
        font-size: 24px !important;
        margin-bottom: 10px !important;
    }
    .name {
        font-size: 18px !important;
        margin-bottom: 10px !important;
    }
}

@media only screen and (max-width: 420px) {
    .brand {
        font-size: 20px !important;
        margin-bottom: 10px !important;
    }
    .name {
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }
    .price {
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }
}